{% extends 'layouts/main.html' %} {% block title %}Fyyur | Artists{% endblock %} {% block content %}
<ul class="items">
    {% for artist in artists %}
    <li>
        <a href="/artists/{{ artist.id }}">
            <i class="fas fa-users"></i>
            <div class="item">
                <h5 style="display:inline">{{ artist.name }}</h5>
                <button style="float:right" data-id="{{ artist.id }}" type="submit" class="delete-btn btn btn-danger">Delete</button>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>

<script>
    const buttons = document.querySelectorAll(".delete-btn");

    buttons.forEach((btn) => {
        btn.onclick = (e) => {
            e.preventDefault();

            fetch(`/artists/${e.target.dataset['id']}`, {
                    method: "DELETE",
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then((response) => response.json())
                .then((json) => {

                    if (json['success']) {
                        alert('Deleted Successfully!');
                        location.reload('/')
                    } else {
                        alert('Unable to delete.');
                    }
                }).catch((e) => {
                    console.log(e);
                    alert('Error. Try again!');
                });
        }
    });
</script>
{% endblock %}