{% extends 'layouts/main.html' %} {% block title %}Fyyur | Artists Search{% endblock %} {% block content %}
<h3>Number of search results for "{{ search_term }}" by name: {{ results.name.count }}</h3>
<ul class="items">
    {% for artist in results.name.data %}
    <li>
        <a href="/artists/{{ artist.id }}">
            <i class="fas fa-users"></i>
            <div class="item">
                <h5>{{ artist.name }}</h5>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>

<h3>Number of search results for "{{ search_term }}" by state: {{ results.state.count }}</h3>
<ul class="items">
    {% for artist in results.state.data %}
    <li>
        <a href="/artists/{{ artist.id }}">
            <i class="fas fa-users"></i>
            <div class="item">
                <h5>{{ artist.name }}, {{ artist.state }}</h5>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>

<h3>Number of search results for "{{ search_term }}" by city: {{ results.city.count }}</h3>
<ul class="items">
    {% for artist in results.city.data %}
    <li>
        <a href="/artists/{{ artist.id }}">
            <i class="fas fa-users"></i>
            <div class="item">
                <h5>{{ artist.name }}, {{ artist.city }}</h5>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}