{% extends 'layouts/main.html' %} {% block title %}Fyyur | Venues Search{% endblock %} {% block content %}
<h3>Number of search results for "{{ search_term }}" by name: {{ results.name.count }}</h3>
<ul class="items">
    {% for venue in results.name.data %}
    <li>
        <a href="/venues/{{ venue.id }}">
            <i class="fas fa-music"></i>
            <div class="item">
                <h5>{{ venue.name }}</h5>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>

<h3>Number of search results for "{{ search_term }}" by state: {{ results.state.count }}</h3>
<ul class="items">
    {% for venue in results.state.data %}
    <li>
        <a href="/venues/{{ venue.id }}">
            <i class="fas fa-music"></i>
            <div class="item">
                <h5>{{ venue.name }}, {{ venue.state }}</h5>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>

<h3>Number of search results for "{{ search_term }}" by city: {{ results.city.count }}</h3>
<ul class="items">
    {% for venue in results.city.data %}
    <li>
        <a href="/venues/{{ venue.id }}">
            <i class="fas fa-music"></i>
            <div class="item">
                <h5>{{ venue.name }}, {{ venue.city }}</h5>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}